
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#pagedoll {
    background-repeat:no-repeat; position:fixed; z-index:100; cursor:default;
    bottom: 0; left: 0;
    height: 150px;
    width: auto;
}

html{
    scroll-behavior: smooth;
}

body{
    font-size: 20px;
    font-family: serif;
    color: #eefaff;
    line-height: 30px;
    background-color: #301d27;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 150px;
}

a{
    color:#ab0045;
    display: inline-block;
}

a:hover{
    color: #f672a7;
}

h1{
    margin-top: 5px;
    padding: 10px;
    color: #eefaff;
    font-family:cursive;
    text-shadow: 4px 3px 1px #ab0045;
}

h2{
    margin-bottom: 5px;
    margin-top: 10px;
    padding: 5px
}

h3{
    margin-top: 2px;
    padding: 3px
}

nav ul li{
    display: inline-block;
}

div.scroll-container{
    background-color: #ab0045;
    overflow: auto;
    white-space: nowrap;
    padding: 5px;
}

div.scroll-container img{
    max-height: 300px;
    padding: 5px;
}

main article img{
    width: 100%;
    height: auto;
}

main article{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

figcaption{
    font-size: 20px;
}