*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background: #14131c;
    --secondary-background: #2b2b2f;
    --primary-color: #33CCBB;
    --secondary-color: #fd30b5;
    --text-color: #cad8ec;
}

body{
    color: var(--text-color);
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--background);
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

main{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 4vw;
    height: 100vh;
    width: 100vw;
    position: relative;
}

b{
    color: var(--primary-color);
}

a{
    color: var(--secondary-color);
    text-decoration: none;
}

a:hover{
    color: var(--primary-color);
}

h1{
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    font-size: 1.2rem;
}

h3{
    font-size: 1.6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#image{
    width: 33vw;
    height: 100%;
    overflow: hidden;
    transform: scale(1.05);
    display: flex;
    justify-content: center;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 60% 50%;
    border-radius: 10px;
}

#bigsection{
    background-color: var(--secondary-background);
    padding: 20px;
}

section article{
    background-color: var(--background);
    margin: 10px;
    padding: 20px;
}

#minigrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#minigrid p a{
    display: list-item;
    list-style: none;
    padding: 5px 0px;
}

@media screen and (max-width: 600px){
    body{
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
    }

    main{
        display: grid;
        grid-template-columns: 1fr;
        padding-top: 20%;
    }

    #image{
        width: 80vw;
        height: 10vh;
        overflow: hidden;
        transform: scale(1);
        display: flex;
        justify-content: center;
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 30%;
        border-radius: 10px;
    }

    #minigrid{
        display: grid;
        grid-template-columns: 1fr;
    }
}