* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    padding: 20px;
    text-align: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

section{
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 50vw;
    height: 50vw;
}

article{
    border: 2px #000000 solid;
}