* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --grid: #000000;
    --rin: #FFCC11;
    --len: #FFEE11;
}

body{
    padding: 20px;
    text-align: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

section{
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 54vmin;
    height: 54vmin;
    overflow: hidden;
    margin: 2rem;
}

article{
    font-size: 4em;
    align-content: center;
    width: 18vmim;
    height: 18vmin;
}

article:hover{
    background-color: var(--rin);
}

.r{
    border-right: 2px var(--grid) solid;
}

.b{
    border-bottom:2px var(--grid) solid;
}

.l{
    border-left: 2px var(--grid) solid;
}

.t{
    border-top: 2px var(--grid) solid;
}