* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

nav{
    background-color: aqua;
    width: 100%;
    height: 70px;
    align-items: center;
    position: fixed;
    z-index: 9;
    padding: 10px;
}

main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    padding-top: 60px;
    z-index: 1;
}

.category{
    margin: 20px 0px;
}

.h2{
    margin-right: 200px;
}

h2{
    padding-left: 20px;
    width: 100%;
    background-color: blue;
}

.prj{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 20px;
    position: relative;
    transition: transform 0.25s;
}

.prj section{
    position: relative;
    overflow: hidden;
}

.prj section p{
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 30px;
}

.prj section img{
    width: 100%;
    object-fit: cover;
    object-position: top;
    position: absolute;
    top: 0;
}

article section{
    background-color: aquamarine;
    height: 200px;
}

.prj img .over{
    height: auto;
}

.prj .over{
    position: relative;
    opacity: 0;
    transition: 0.25s;
}

.prj a:hover .over{
    opacity: 1;
    
}

.prj .base{
    opacity: 1;
    transition: 0.25s;
}

.prj a:hover .base{
    opacity: 0.25;
}