* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --background: #130d18;
    --primary-color: #5f2d90;
    --secondary-color: #e0c7c2;
    --text-color: #f2f2f3;
}

body {
    padding: 20px;
    background-color: var(--background);
    height: auto;
    display: block;
    margin: auto;
    width: 60vw;
    align-items: center;
    font-family: "Alan Sans", sans-serif;
    color: var(--text-color);
}

h1 {
    font-family: "Pacifico", cursive;
    font-size: 2.4rem;
}

h2 {
    padding-top: 10px;
}

button:hover {
    background-color: var(--secondary-color);
}

button {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: var(--text-color) 2px solid;
    padding: 5px;
    width: auto;
    height: auto;
    font-family: "Pacifico", cursive;
    font-size: 0.8rem;
}