* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --background: #14131c;
    --secondary-background: #2b2b2f;
    --primary-color: #33CCBB;
    --secondary-color: #fd30b5;
    --text-color: #cad8ec;
}

::-webkit-scrollbar {
    display: none;
}

a{
    color: var(--primary-color);
}

a:hover{
    color: var(--secondary-color);
}

header {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 10px;
    justify-items: center;
    align-items: center;
}

header p{
    text-align: end;
}

body{
    width: 100wv;
    height: 100vh;
    overflow: hidden;
    padding: 10px;
    background-color: var(--background);
    color: var(--text-color);
}

main {
    display: grid;
    grid-template-columns: 100px 1fr;
    height: 100%;
    width: 100%;
}

nav{
    position: relative;
    height: 90vh;
    perspective:700px;
    width: 125px;
}

nav article{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 1rem;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    transform: rotateY(40deg);
    transform-style: preserve-3d;

}

nav article img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 70%;
}

button{
    position: relative;
}

.square:hover{
    opacity: .5;
}

.square{
    animation: hovering .75s infinite;
    width: 250px;
    height: 23vh;
    top: 0;
    background-color: var(--secondary-color);
    position: absolute;
    opacity: 0;
}

@keyframes hovering {
0% {
        transform: scale(1.1) rotate(-7deg);
    }

    25% {
        transform: scale(1.2) rotate(-8deg);
    }

    50% {
        transform: scale(1.15) rotate(-7deg);
    }

    75% {
        transform: scale(1.12) rotate(-9deg);
    }

    100% {
        transform: scale(1.1) rotate(-7deg);
    }
}

.top{
    align-self: end;
    object-position: 10% 50%;
}

.zen{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 10% 50%;
}

.mid {
    align-self: center;
}

.bot {
    align-self: start;
}

.grid{
    display: grid;
    grid-template-columns: 1fr;
    height: 90vh;
    overflow: hidden;
}

.effect{
    border: #33CCBB 10px solid;
}

.image{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 60% 50%;
    border-radius: 10px;
}

.bigblock{
    padding: 10px;
    height: 100%;
    overflow: hidden;
}

h2{
    background-color: var(--secondary-background);
    padding: 20px;
    margin-bottom: 10px;
}

.blockgrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    height: 100%;
}

.blockgrid article{
    background-color: var(--secondary-background);
    padding: 20px;
}

@media screen and (min-width: 640px) {
    header{
        grid-template-columns: 1fr 300px;
    }

    main{
        grid-template-columns: 200px 1fr;
    }

    nav {
        perspective: 700px;
        width: 250px;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 3fr;
        height: 90vh;
    }

    .image {
        display: flex;
        justify-content: center;
        width: 33vw;
        height: 100%;
        overflow: hidden;
    }

    .image img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: 60% 50%;
        border-radius: 10px;
    }
}