* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

main{
    padding: 10px;
}

nav{
    background-color: aliceblue;
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    margin-right: 20px;
    align-items: center;
}

.desc{
    position: absolute;
}

#character{
    margin: 60px;
    background-color: aqua;
    width: auto;
    height: 100vh;
}

section img{
    height: 80vh;
    width: auto;
}

aside{
    position: sticky;
    bottom: 0;
    background-color: blueviolet;
    width: 100%;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
    overflow-x: scroll;
    overflow-y: hidden;
}

aside article{
    background-color: aquamarine;
    width: 150px;
    height: 150px;
}

aside img{
    overflow: hidden;
    width: 150px;
    height: 150px;
}