* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 0px;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.items:hover{
    &::-webkit-scrollbar-thumb {
        background-color: var(--primary);
}}

:root{
    --background: #121212;
    --background-var: #282828;
    --background-var2: #121212a8;
    --primary: #1e4967;
    --primary-var: #1e4967a8;
    --secondary-color: #5B8FB9;
    --text: #e4eced;
    --accent: #EFBF04;
}

html{
    scroll-snap-type: none;
    overflow-x: hidden;
    background-color: var(--background);
    color: var(--text);
}

main{
    margin-bottom: 30px;
}

section{
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

nav{
    position: absolute;
    top: 10vh;
    padding: 0px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 50px;
    width: 100%;
    align-items: center;
    z-index: 9;
}

nav p{
    text-align: right;
}

a{
    color: var(--secondary-color);
}

a:hover{
    color: var(--accent);
}

h1{
    font-family: "Bona Nova SC", serif;
    font-weight: 700;
    font-style: normal;
}

h2{
    font-family: "Bona Nova SC", serif;
    font-weight: 700;
    font-style: normal;
}

.character{
    margin-top: 60px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.profileimg{
    position: relative;
    width: 100%;
    height: auto;
}

.spriteframe{
    z-index: -1;
    position: relative;
    margin-top: -95vh;
    opacity: 50%;
    width:100%;
    height: 100vh;
    margin-right:30%;
    margin-left: auto;
    display:block;
}

.spriteart{
    height: auto;
    width: 100vw;
    margin-right:35%;
    margin-left: auto;
    display:block;
}

.thirty-seven{
    z-index: 3;
    transform: translateX(-70px);
}

.desc{
    position: absolute;
    background-color: var(--primary-var);
    width: 80vw;
    top: 30vh;
    right: 0;
    padding: 20px;
    color: var(--text);
    z-index: 7;
}

.bgimages{
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.top{
    z-index: 8;
}

.bgart{
    position: absolute;
    transform-origin: 50% 70%;
    overflow: hidden;
}

.bgimages img:nth-child(1){
    top: 25vh;
    left: 40vw;
    scale: 1.5;
    transform: rotate(37deg);
}
.bgimages img:nth-child(2){
    top: 25vh;
    left: 40vw;
    scale: 1.5;
    transform: rotate(-143deg);
}
.bgimages img:nth-child(3){
    transform: rotate(37deg);
    top: 0vh;
    left: 6vw;
    scale: 1;
    animation: rotate 10s infinite normal linear;
}
.bgimages img:nth-child(4){
    top: 30vh;
    left: 25vw;
    scale: .4;
    animation: rotate 4s infinite normal linear;
}
.bgimages img:nth-child(5){
    top: 40vh;
    left: 0vw;
    scale: .5;
    animation: rotate 5s infinite reverse linear;
}

/* outside of 37 triangles */
.bgimages img:nth-child(6) {
    top: 92vh;
    left: -17vw;
    scale: .3;
    animation: rotate 8s linear infinite;
}

@media only screen and (min-width: 768px){
    .bgimages img:nth-child(6) {
        top: 92vh;
        left: 40vw;
    }
}

@keyframes rotate{
    0% {transform: rotate(-180deg);}
    100%{transform: rotate(180deg);}
}

aside{
    position: absolute;
    bottom: -30px;
    background-color: var(--primary);
    width: 100%;
    height: fit-content;
    color: var(--text);
    z-index: 7;
}

h3{
    padding: 5px 10px;
    font-family: "Bona Nova SC", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
}

.items{
    overflow-x: scroll;
    overflow-y: hidden;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1rem;
    height: fit-content;
    justify-items: center;

    position: relative;
    transform: translateY(1.728rem);
    transition: transform 0.25s;
    margin-top: -25px;
    margin-bottom: 20px;
}

.items article{
    background-color: var(--secondary-color);
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

aside img{
    width: auto;
    height: 160px;
    position: absolute;
    top: 0;
}

.hover{
    width: 160px;
    height: 160px;
    padding: 5px;
    color: var(--text)
}

.items a:hover {
    transform: translateY(0);
}

.items .behind{
    opacity: 1;
    transition: 0.25s;
}

.items .hover{
    position: relative;
    top: -1.44rem;
    opacity: 0;
    transition: 0.25s;
}

.items a:hover .hover{
    top:0;
    opacity: 1;
    background-color: var(--primary-var);
}

.items a:hover .behind{
    top:0;
    opacity: .5;
}

.exhibition{
    background-color: var(--primary-var);
    padding: 10px;
}

.prgrid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.prgrid article{
    background-color: var(--background-var);
}

.profile h3{
    background-color: var(--background-var);
}

.profile h4{
    margin: 10px 0px;
}

.intro h4{
    background-color: var(--primary-var);
    padding: 5px;
}

.profile article, .profile section{
    padding: 10px 10px;
}

.profile{
    position: relative;
    padding: 30px 30px 0px;
    z-index: 7;
}

.profiledetails{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
}

.afflatus{
    height: 50px;
    width: auto;
}

.profiledetails h4{
    padding: 0px;
    margin: 0px;
}

.stargrid{
    display: grid;
    grid-template-columns: 1fr 10fr;
    justify-items: center;
}


@media only screen and (min-width: 768px){
    html{
        scroll-snap-type: y mandatory;
    }

    .desc{
        top: 40vh;
        width: 60vw;
    }

    .profileimg img{
        height: 95vh;
        width: auto;
        margin-right:30%;
        margin-left: auto;
        display:block;
    }

    .prgrid{
        grid-template-columns: 1fr 1fr;
    }

    .garmentgrid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    }

    .moving{
        position: relative;
    }
    
    .moving img{
        width: 100%;
        object-fit: cover;
        object-position: center center;
      }
    
    .box{
        position: relative;
        perspective: 700px;
        user-select: none;
        transform: translate(-60px, 105px);
    }
    
    .box article{
        transform-style: preserve-3d;
        transform: rotateX(0deg) ;
        transition: transform 0.5s;
        transform-origin: center ;  
    }
    
    .front, .back{
      width: 500px;
      height: 300px;
      backface-visibility: visible;
      user-select: none;
    }
    
    .front{
      position: absolute;
      transform: rotateY(0deg) translate3d(-100px, -100px, 50px);
    }
    
    .back{
      position: absolute;
      transform: rotateY(90deg) translate3d(200px, -100px, -225px);
    }

    .box:hover article{
      transform: rotateY(-90deg);
    }

    .bird{
        transform: translateX(-50px);
    }
}

.garmentgrid{
    background-color: var(--background-var);
}

.garmentimg{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.garmentimg img{
    height: 100%;
    width: auto;
    max-height: 300px;
}

.quote{
    text-align: center;
    padding-top: 10px;
}

@media only screen and (max-width: 768px){
    .hidden{
        display: none;
        visibility: hidden;
    }

    .garmentimg img{
        height: auto;
        width: 100%;
    }
}

.pgrid{
    display: grid;
    grid-template-columns: 1fr 10fr;
    justify-items: center;
    background-color: var(--background-var2);
}

.pgrid h4{
    background-color: var(--primary-var);
    padding: 5px;
    margin: -5px 0px 5px;
}

.pgrid img{
    max-height: 100px;
    max-width: 100px;
}

.profile section{
    margin: 10px 0px;
}

.story{
    background-color: var(--background-var);
}

.story h4{
    background-color: var(--primary-var);
    padding: 5px;
}

.she{
    color: var(--accent);
}

.space{
    padding-bottom: 10px;
}