* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: #121212;
    color: #e2e2e2;
    padding: 20px;
}

video{
    height: 10vh;
    margin-top: -40px;
}

#figma{
    font-size: 1.6rem;
}

a{
    background: linear-gradient(90deg, rgba(217, 26, 26, 1) 0%, rgba(113, 87, 199, 1) 50%, rgba(90, 210, 228, 1) 81%, rgba(83, 237, 132, 1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

a:hover, a:focus {
    background: linear-gradient(-90deg, rgba(217, 26, 26, 1) 0%, rgba(113, 87, 199, 1) 50%, rgba(90, 210, 228, 1) 81%, rgba(83, 237, 132, 1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    row-gap: 3rem;
    padding-top: 40px;
}

#exercises{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
}

#exercises p{
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

#inspo{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    row-gap: 3rem;
    padding-top: 40px;
}

iframe{
    width: 100%;
    height: 100%;
}