*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

#voidstar{
    cursor: url(https://cdn.discordapp.com/attachments/689960515090645119/1370893782152646786/Untitled_Artwork.png?ex=682127d3&is=681fd653&hm=8b1caf1887b86bd9d1420d74af2a89d14ede187695693c14d472486e8eee2d29&), auto;
}

#zenith{
    cursor: url(https://cdn.discordapp.com/attachments/689960515090645119/1370923229014921236/Untitled_Artwork.png?ex=68214340&is=681ff1c0&hm=869a87932846fb7653ea9be6174abdc1cc0edef9abec6c8bdb4bcc6551f9e454&), auto;
}

#lydia {
    cursor: url(https://cdn.discordapp.com/attachments/689960515090645119/1371230291519082619/Untitled_Artwork.png?ex=68226139&is=68210fb9&hm=684d1489c99b86d23134c9e86d2c5fabd1258a2711170a7ef523330f3ed6e070&), auto;
}

:root{
    --voidstar: #544CE1;
    --voidstar-second: #483c84;

    --zenith: #E379A9;
    --zenith-second: #813859;

    --lilith: #F2A900;
    --lilith-second: #6d4e05;

    --lydia: #5EA7CA;
    --lydia-second: #296090;

    --third: #242b34;
    --background: #212023;
    --background-secondary: #2f2d30;
    --text: #EEEEEE;
}

.theme-color {
    color: var(--voidstar);
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator */
::-webkit-scrollbar-thumb {
    background: var(--third);
}

body{
    width: 100vw;
    height: auto;
    padding: 20px;
    padding-top: 30px;
    background-color: var(--background);
    color: var(--text);
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

mark.void{
    background-color: var(--voidstar-second);
    color: var(--text);
}

mark.void:hover {
    background-color: var(--voidstar);
}

mark.zen {
    background-color: var(--zenith-second);
    color: var(--text);
}

mark.zen:hover{
    background-color: var(--zenith);
}

mark.lyd {
    background-color: var(--lydia-second);
    color: var(--text);
}

mark.lyd:hover {
    background-color: var(--lydia);
}

body a{
    color: var(--voidstar);
    font-weight: 600;
}

header{
    display: grid;
    grid-template-columns: 1fr 120px;
}

h1{
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
}

h2{
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
}

.titleh{
    font-size: 20px;
}

h3{
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

@keyframes slideBottom {
    0% {
      transform: translateY(100%); opacity: 0;
    }
    100% {
      transform: translateY(0%); opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
      transform: translateX(-100%); opacity: 0;
    }
    100% {
      transform: translateX(0%); opacity: 1;
    }
}

@keyframes slideRight {
    0% {
      transform: translateX(100%); opacity: 0;
    }
    100% {
      transform: translateX(0%); opacity: 1;
    }
}

#headicons{
    display: grid;
    grid-template-columns: repeat(4, 30px);
    align-items: center;
    text-align: right;

}

#headicons button{
    background-color: var(--background);
    border: none;
}

.hovericon{
    position: relative;
}

.hovericon .hovertext{
    visibility: hidden;
    position: absolute;
    z-index: 99;

    background-color: var(--third);
    color: var(--text);
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* position */
    width: 56px;
    bottom: 100%;
    left: 50%;
    margin-left: -28px;

    /* animation */
    opacity: 0;
    transition: opacity .3s;
}

.hovericon:hover .hovertext{
    visibility: visible;
    opacity: 1;
}

#fadedimg{
    padding-top: 10px;
    z-index: -1;
    animation: 0.5s ease-out 200ms 1 slideBottom both;
}

#fadedimg div{
    position: absolute;
    color: #eeeeee00;
    height: 20vh;
    width: 100vw;
    margin-left: -20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, var(--background) 77%);
}

#fadedimg img{
    width: 100%;
    height: 20vh;
    overflow: hidden;
    object-fit: cover;
    object-position: 50% 50%;
}

#top{
    z-index: 0;
    position: relative;
    margin-top: -100px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

#img{
    grid-column: 1/4;
    grid-row: 1/3;
    height: 100%;
    width: auto;
    animation: 0.5s ease-out 50ms 1 slideLeft both;
}

#img img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    object-position: 50% 50%;
}

#topicon{
    grid-column: 4/7;
    grid-row: 2;
    height: auto;
    width: auto;
    text-align: center;
    font-size: 50px;
    margin-left: 5px;
    padding: 20px 5px;
    border: 3px solid var(--voidstar-second);
    position: relative;
    animation: 0.5s ease-out 50ms 1 slideLeft both;
}

#music{
    margin: 10px 0px 5px;
    grid-column: 1/7;
    grid-row: 3;
    position: relative;
    border: 3px solid var(--background-secondary);
    border-left: 6px double var(--voidstar);
    overflow: hidden;
    min-height: 80px;
    display: grid;
    align-items: center;
    animation: 0.5s ease-out 75ms 1 slideLeft both;
    z-index: -1;
}

#music section{
    text-align: center;
}

#music i{
    position: absolute;
    color: var(--voidstar);
    height: auto;
    width: auto;
    left: -30px;
    font-size: 60px;
    transform-origin: 30px 30px;
    animation: spin 3s infinite linear;
}

@keyframes spin{
    0% {transform: rotate(-180deg);}
    100%{transform: rotate(180deg);}
}

.title{
    border: 3px solid var(--background-secondary);
    position: relative;
    padding: 10px 20px;
    animation: 0.5s ease-out 100ms 1 slideRight both;
}

.title h1{
    margin-top: -5px;
}

#voidtitle{
    grid-column: 1/7;
    grid-row: 4;
}

#voidintro{
    margin: 5px 0px 10px;
    grid-column: 1/7;
    grid-row: 5;
    background-color: var(--background-secondary);
    padding: 10px;
    position: relative;
    z-index: -1;
    animation: 0.5s ease-out 200ms 1 slideRight both;
}

@media only screen and (min-width: 768px){
    #img{
        grid-column: 1;
        grid-row: 1/3;
    }
    
    #topicon{
        margin-right: 5px;
        grid-column: 2;
        grid-row: 2;
    }
    
    #music{
        margin: 10px 0px;
        margin-right: 5px;
        grid-column: 1/3;
        grid-row: 3;
    }

    #music i{
        left: -50px;
        font-size: 100px;
        transform-origin: 50px 50px;
    }
    
    
    #voidtitle{
        margin: 0px 0px;
        margin-left: 5px;
        grid-column: 3/7;
        grid-row: 2;
    }
    
    #voidintro{
        margin: 10px 0px;
        margin-left: 5px;
        grid-column: 3/7;
        grid-row: 3;
    }
}

#largesection{
    animation: 0.5s ease-out 300ms 1 slideLeft both;
}

#bigbuttons{
    position: sticky;
    color: var(--voidstar);
    top: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    align-content: center;
    text-align: center;
    z-index: 99;
}

#bigbuttons button{
    background-color: var(--background-secondary);
    border: none;
    color: var(--voidstar-second);
    margin: 0px 10px;
}

/* Change background color of buttons on hover */
#bigbuttons button:hover {
    background-color: var(--voidstar);
}
  
/* Create an active/current tablink class */
#bigbuttons button.active {
    background-color: var(--third);
}

.button{
    position: relative;
    font-size: 20px;
    padding: 10px;
    margin: 5px;
    border: 3px solid var(--voidstar-second);
}

.button .buttontext{
    visibility: hidden;
    position: absolute;
    z-index: 99;

    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;

    background-color: var(--third);
    color: var(--text);
    text-align: center;
    padding: 5px;
    border-radius: 6px;

    width: auto;
    bottom: 100%;
    left: 50%;

    /* animation */
    opacity: 0;
    transition: opacity .5s;
}

.abt{
    margin-left: -28px;
}

.pers{
    margin-left: -53px;
}

.skill{
    margin-left: -33px;
}

.button:hover .buttontext{
    visibility: visible;
    opacity: 1;
}

.bigsection{
    display: none;
    animation: fadeEffect .5s;
    width: 100%;
    height: auto;
    padding: 10px;
    margin-top: 10px;
    border: 3px solid var(--background-secondary);
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@media only screen and (min-width: 768px){
    .biggrid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.last{
    padding-bottom: 0;
}

.twogrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.twogrid article{
    margin-bottom: 5px;
}

.twogrid p{
    font-size: 30px;
}







#zenimg{
    padding-top: 10px;
    margin-bottom: 10px;
    position: relative;
    animation: 0.5s ease-out 0s 1 slideRight both;
}

#zenimg img{
    width: 100%;
    height: 20vh;
    overflow: hidden;
    object-fit: cover;
    object-position: 50% 50%;
    z-index: 1;
}

#zenimg p{
    position: absolute;
    margin: 5px 5px 10px;
    padding: 5px;
    width: 50vw;
    bottom: 0;
    z-index: 3;
    background-color: var(--background-secondary);
}

#zentop{
    display: grid;
    grid-template-columns: 5fr 1fr;
    animation: 0.5s ease-out 100ms 1 slideLeft both;
}

#zenicon{
    height: auto;
    width: auto;
    text-align: center;
    align-content: center;
    font-size: 50px;
    margin-left: 5px;
    padding: 20px 5px;
    
    border: 3px solid var(--zenith-second);
    position: relative;
}

#zenintro{
    background-color: var(--background-secondary);
}

#stroke {
    stroke-dasharray: 5000;
    animation: appear 5s infinite cubic-bezier(0.44, 0.25, 0.53, 0.80) forwards;
}

@keyframes appear {
    0% {
        stroke-dashoffset: 5000;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

#svg {
    position: relative;
    height: auto;
    width: 60%;
    padding: 10px;
}





.box {
    width: 100%;
    height: auto;
    padding: 10px;
    margin-top: 20px;
    border: 3px solid var(--background-secondary);
    animation: 0.5s ease-out 100ms 1 slideBottom both;
}

.icon {
    display: grid;
    grid-template-columns: 70px 1fr;
    margin: 5px 0px;
}

.icon i{
    height: auto;
    width: 60px;
    padding: 10px;
    margin-right: 10px;
    font-size: 25px;
    align-items: center;
    text-align: center;
    border: 3px solid var(--background-secondary);
}

.ivoid{
    border-left: 6px double var(--voidstar);
}

.izen{
    border-left: 6px double var(--zenith);
}

.ilyd {
    border-left: 6px double var(--lydia);
}

.long{
    padding-left: 10px;
}

.long p {
    padding-bottom: 10px;
}



#lydgrid{
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 10px;
    position: relative;
    height: auto;
    width: auto;
}

#lydicon {
    height: 115px;
    width: auto;
    text-align: center;
    align-content: center;
    font-size: 50px;
    padding: 20px 5px;

    border: 3px solid var(--lydia-second);
    position: relative;
    animation: 0.5s ease-out 100ms 1 slideBottom both;
}

#lydside{
    margin-left: 10px;
    position: sticky;
    height: 60vh;
}

.lydbg{
    margin: 5px 0px;
}

.one{
    background-color: #5289A3;
    color: #5289A3;
    height: 8vh;
    animation: 0.5s ease-out 150ms 1 slideBottom both;
}

.two{
    background-color: #466A7C;
    color: #466A7C;
    height: 5vh;
    animation: 0.5s ease-out 200ms 1 slideBottom both;
}

.three{
    background-color: #3B4B56;
    color: #3B4B56;
    height: 2vh;
    animation: 0.5s ease-out 250ms 1 slideBottom both;
}

.lydmusic{
    height: 100%;
    background-color: var(--background-secondary);
    padding: 5px;
    overflow: hidden;
    position: relative;
    animation: 0.5s ease-out 200ms 1 slideBottom both;
}

.sugar{
    font-size: 55px;
    text-align: center;
}

.cafe{
    font-size: 40px;
    text-align: center;
}

.lydmusic i {
    position: absolute;
    color: var(--background);
    height: auto;
    width: auto;
    bottom: -30px;
    left: 15px;
    font-size: 60px;
    transform-origin: 30px 30px;
    animation: spin 3s infinite linear;
}

@media only screen and (min-width: 768px) {
    #lydgrid {
        grid-template-columns: 1fr 100px;
    }
    #lydside{
        visibility: visible;
    }
}

#lydintro{
    background-color: var(--background-secondary);
    margin-top: 10px;
    padding: 10px;
    position: relative;
    animation: 0.5s ease-out 200ms 1 slideLeft both;
}





.items {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    height: fit-content;
    justify-items: center;

    position: relative;
    transform: translateY(1.728rem);
    transition: transform 0.25s;
    margin-top: -15px;
}

.items article {
    background-color: var(--lydia-second);
    width: 100%;
    height: 30vh;
    margin-bottom: 20px;
    display: grid;
    justify-content: center;
    position: relative;
    animation: 0.5s ease-out 300ms 1 slideLeft both;
}

.items img {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    object-fit: cover;
    object-position: 50% 50%;
}

.hover {
    width: 100%;
    height: auto;
    padding: 5px;
    color: var(--text)
}

.items a:hover {
    transform: translateY(0);
    cursor: url(https://cdn.discordapp.com/attachments/689960515090645119/1371230291519082619/Untitled_Artwork.png?ex=68226139&is=68210fb9&hm=684d1489c99b86d23134c9e86d2c5fabd1258a2711170a7ef523330f3ed6e070&), auto;
}

.items .behind {
    opacity: 1;
    transition: 0.25s;
}

.items .hover {
    position: relative;
    bottom: -1.44rem;
    opacity: 0;
    transition: 0.25s;
}

.items a:hover .hover {
    bottom: 0;
    opacity: 1;
    background-color: var(--lydia-second);
    cursor: url(https://cdn.discordapp.com/attachments/689960515090645119/1371230291519082619/Untitled_Artwork.png?ex=68226139&is=68210fb9&hm=684d1489c99b86d23134c9e86d2c5fabd1258a2711170a7ef523330f3ed6e070&), auto;
}

.items a:hover .behind {
    bottom: 0;
    opacity: .5;
    cursor: url(https://cdn.discordapp.com/attachments/689960515090645119/1371230291519082619/Untitled_Artwork.png?ex=68226139&is=68210fb9&hm=684d1489c99b86d23134c9e86d2c5fabd1258a2711170a7ef523330f3ed6e070&), auto;
}