*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 20px;
}

.circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: blue;
    margin: 30px;
    text-align: center;
    align-content: center;
    color: aliceblue;
    font-size: 100px;
    transition: all 0.5s ease-in;
}

.circle.square{
    border-radius: unset;
}

.circle.move-me{
    transform: scale(1.5) translateX(200px) rotate(90deg);
}

.circle.make-round{
    border-radius: 50%
}